<div class="properties">
    <div class="title">View Properties</div>
    <div class="details">
      <ul>
        <li>
          <input type="checkbox" id="item1">
          <label for="item1">Total Sales</label>
        </li>
        <li>
          <input type="checkbox" id="item2">
          <label for="item2">Compression State</label>
        </li>
        <li>
          <input type="checkbox" id="item3">
          <label for="item3">Total Value</label>
        </li>
      </ul>
      <ul>
        <li>
          <input type="checkbox" id="item4">
          <label for="item4">Max Transaction Per Hour</label>
        </li>
        <li>
          <input type="checkbox" id="item5">
          <label for="item5">Total Transaction Count</label>
        </li>
        <li>
          <input type="checkbox" id="item6">
          <label for="item6">Max Transactin Date-Time</label>
        </li>
      </ul>
    </div>
  </div>
  