<div class="responsive-nav">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <ul class="col-12">
        <li class="col-1">
          <vertical-nav></vertical-nav>
        </li>
        <li class="col-1">
          <div class="items">
            <div class="station">
              <i class="fa-solid fa-circle"></i>
              <img src="/assets/station.png" alt="" />
            </div>
            <span>2/3</span>
            <small>Monitored Stations</small>
          </div>
        </li>
        <li class="col-1">
          <div class="items">
            <div class="update">
              <i class="fa-solid fa-circle circle"></i>
              <img src="/assets/reload.png" alt="" />
            </div>
            <span>20s</span>
            <small>Last Update</small>
          </div>
        </li>
        <li class="col-4">
          <div class="time">
            <button class="active">Today</button>
            <button>Yesterday</button>
            <button>Last week</button>
          </div>
        </li>
        <li class="col-4">
          <div class="date">
            <div class="pick">
              <input type="date" />
              <i class="fa-solid fa-play"></i>
              <img src="/assets/calender.png" alt="" />
              <span>Start date-time</span>
            </div>
            <div class="pick">
              <input type="date"/>
              <i class="fa-solid fa-square"></i>
              <img src="/assets/calender.png" alt="" />
              <span>End date-time</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

