<div class="sidebar">
  <ul class="nav nav-pills nav-sidebar">
    <li class="nav-item">
      <img class="drop" src="/assets/drop.png" alt="" />
    </li>
    <div class="icons">
      <li class="nav-item">
        <img src="/assets/control-room.png" alt="" />
      </li>
      <li class="nav-item">
        <img src="/assets/dashboard.png" alt="" />
      </li>
      <li class="nav-item">
        <img src="/assets/elements.png" alt="" />
      </li>
      <li class="nav-item">
        <img src="/assets/settings.png" alt="" />
      </li>
      <li class="nav-item">
        <img src="/assets/notifications.png" alt="" />
      </li>
    </div>
    <li class="nav-item logout">
      <img src="/assets/logout.png" alt="" />
    </li>
  </ul>
</div>
